@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
}

/* HEADER */

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(172, 171, 171, .3);
    border-bottom: 1px solid rgba(172, 171, 171, .4);
    box-shadow: 0 10px 20px rgba(172, 171, 171, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .4rem
}

#header #logo{ width: 8% }

#header #navPrincipal ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:  none;
}

#header #navPrincipal ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #333;
    margin: 1rem;
    padding: .3rem 1rem;
    border-radius: 10px;
    padding: .4rem .6rem;
}

#header #navPrincipal ul li a:hover{ background-color: rgba(172, 171, 171, .6) }

/* CONTENEDOR */
#container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

#container article{
    flex-basis: 12.5%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(172, 171, 171, .8) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem;
}

.cardUsu .buttonCard{
    padding: .4rem;
    background-color: #e06b59;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.buttonCard:hover{
    background-color: #bb4c3b;
}


/* FOOTER */
footer{
    /* position: fixed;
    bottom: 0;
    left: 0; */
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5rem;
    font-size: 1.3rem;
}
